<section class="property-binding">

  <article>

    <h3> interpolação </h3>

    <p>string rederizada com interpolação: {{ url }}</p>
    <p> Resultado de 1 + 1 é:  {{ 1 + 1 }} </p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
    <p> Voce gosta do curso de angular? {{ cursoAngular && getCurtirCurso() }}</p>

  </article>


  <article>

    <img src="{{ urlimagem }}"> <br>
    <img src="{{ urlimagem2 }}">

  </article>
  <br>
  <hr>

</section>

<iframe width="100%" height="443" class="yvideo" id="pgHr6luyjjs" src="https://youtu.be/9qWsF-vepUY" frameborder="0" allowfullscreen>
<p>Seu navegador não possui Suporte para este recurso...</p>
</iframe>
