<section class="property-binding">

  <article>

    <h3> interpolação </h3>

    <p>string rederizada com interpolação: {{ url }}</p>
    <p> Resultado de 1 + 1 é:  {{ 1 + 1 }} </p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
    <p> Voce gosta do curso de angular? {{ cursoAngular && getCurtirCurso() }}</p>

  </article>


  <article>

    <img src="{{ urlimagem }}"> <br>
    <img src="{{ urlimagem2 }}">

  </article>

  <br>
  <hr>

  <article>
      <h3>property binding </h3>
      <img [src]="urlimagem"> <br>
      <img bind-src="urlimagem2">

  </article>
  <br>
  <hr>


<iframe width="100%" height="443" class="yvideo" id="pgHr6luyjjs" src="https://youtu.be/9qWsF-vepUY" frameborder="0" allowfullscreen>
<p>Seu navegador não possui Suporte para este recurso...</p>
</iframe>
<br>
<hr>
<object width="425" height="350">
<embed [src]="urlvideo" type="application/x-shockwave-flash" width="425" height="350" />
<br>
<hr>
<param name="movie" value="urlvideo" />
</object>
<br>
<hr>

</section>

<section>
    <article>


    <h3>Class e Style Binding com bootstrap</h3>
        <div>
          Selecione uma classse:

          <select #classe (change)="0">
              <option value="alert-success">Sucesso</option>
              <option value="alert-info">Informação</option>
              <option value="alert-warning">Alerta</option>
              <option value="alert-danger">Erro</option>
          </select>

      </div>
      <br><br>
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        <a href="#" class="alert-link">sucesso</a>
      </div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        <a href="#" class="alert-link">informação</a>
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        <a href="#" class="alert-link">alerta</a>
      </div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        <a href="#" class="alert-link">erro</a>
      </div>
      <br><br>
      <hr>
      <div class="alert {{ classe.value }} ">

        texto colorido de acordo com combobox

      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
      sucesso
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        <a href="#" class="alert-link">sucesso</a>
      </div>

      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        <a href="#" class="alert-link">informação</a>
      </div>

      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        <a href="#" class="alert-link">alerta</a>
      </div>

      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        <a href="#" class="alert-link">erro</a>
      </div>

      <br><br>
      <hr>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        <a href="#" class="alert-link">erro</a>
      </div>

    </article>


</section>
<br><br>
<hr>
<section class="event-binding" >

  <article >

    <h3>Event binding</h3>
    <div>

      <button (click)="botaoClicado()" class="btn btn-primary">Clique Aqui</button>

      <br><br>
     <!-- <input type="text"

      (keyup)="onKeyUp($event)"

      (keyup.enter)="salvarValor(campoInput.value)"

      (blur) = "salvarValor(campoInput.value)"

      #campoInput


      /> -->
      <input type="text"

      (keyup)="onKeyUp($event)"/>


      <p>Valor Atual: {{ valorAtual }} </p>
      <p>Valor Salvo: {{ valorSalvo }} </p>
    </div>

  </article>

</section>
<br><br>
<hr>
<section class="two-way-binding" >

  <article >

    <h3>two-way data binding</h3>

    <div>


     <!-- <input type="text" bindon-ngModel="nome"> (keyup)="onKeyUp($event)"-->
      <!--<input type="text" [value]="nome" (input)="nome = $event.target.value" /> -->
      <p>Voce digitou primeiro: <input type="text" [value]="nome"  /> </p><br>

      <p>Você digitou segundo: {{ nome }} </p> <br>

    <!--<p>Você digitou terceiro: <input type="text" [ngModel]="valorAtual2" (ngModelChange)="valorAtual2 = $event"> </p> -->
       <!--<p> Você digitou terceiro:
        <input type="text"
        ([ngModel])="nome" ([ngModelChange ="nome = $event"]) /> </p> -->
        <p> Você digitou terceiro: <input type="text" ngModel="nome" />
          <p>Você digitou quarto: {{ nome }} </p> <br>
    </div>

    <h3>Usando Classes com two way databiding</h3>
    <div>

     nome: <input type="text" (ngmodel)="pessoa.nome" /><br><br>
     idade: <input type="text" (ngmodel)="pessoa.idade" /><br><br>
      <p> Meu Nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>
    </div>
  </article>
</section>
<br><br>
<hr>
